<!--mat-card>
 <form>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Add Title</mat-label>
    <input
    matInput
    placeholder="Post Title"
    ngModel
    type="text"
    #title="ngModel">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Add Post</mat-label>
    <textarea matInput placeholder="Post Content"></textarea>
  </mat-form-field>
  <div>
    <button (click)="addPost()" mat-raised-button color="primary">Save Post</button>
  </div>
</form>
</mat-card-->

<mat-card>
  <form (submit)="addPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        minlength="3"
        placeholder="City Name"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please Enter City Name</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel
        required
        placeholder="City Description"
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please Enter Description.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit" style="width: 200pt; height: 40pt; font-size: 20pt;">Add City</button>
  </form>
</mat-card>

